In [1]:
#import and setup
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt
from pprint import pprint
from datetime import datetime
import numpy as np
import csv
finn_key = 'sandbox_cc7v412ad3i03fardc9g'

#import finnhub
import finnhub
finnhub_client = finnhub.Client(api_key=finn_key)

#finnhub utcdate codes for slicing by year for each stock
#2019 times
beg_2019 = 1546300800
end_2019 = 1577836799
#2020 times
beg_2020 = 1577836800
end_2020 = 1609459199
#2021 times
beg_2021 = 1609459200
end_2021 = 1640995199

In [10]:
covid20_csv = "../Documents/WHO-US-Covid20.csv"
covid20_df = pd.read_csv(covid20_csv)
covid20_df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,US,United States of America,AMRO,0,0,0,0
1,2020-01-04,US,United States of America,AMRO,0,0,0,0
2,2020-01-05,US,United States of America,AMRO,0,0,0,0
3,2020-01-06,US,United States of America,AMRO,0,0,0,0
4,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
359,2020-12-27,US,United States of America,AMRO,158857,18892232,2228,342971
360,2020-12-28,US,United States of America,AMRO,149535,19041767,1644,344615
361,2020-12-29,US,United States of America,AMRO,152944,19194711,1896,346511
362,2020-12-30,US,United States of America,AMRO,178300,19373011,2232,348743
363,2020-12-31,US,United States of America,AMRO,208833,19581844,3356,352099

In [16]:
covid20_df = covid20_df.rename(columns = {"Date_reported" : "Time"})
covid20_df

,Time,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,US,United States of America,AMRO,0,0,0,0
1,2020-01-04,US,United States of America,AMRO,0,0,0,0
2,2020-01-05,US,United States of America,AMRO,0,0,0,0
3,2020-01-06,US,United States of America,AMRO,0,0,0,0
4,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
359,2020-12-27,US,United States of America,AMRO,158857,18892232,2228,342971
360,2020-12-28,US,United States of America,AMRO,149535,19041767,1644,344615
361,2020-12-29,US,United States of America,AMRO,152944,19194711,1896,346511
362,2020-12-30,US,United States of America,AMRO,178300,19373011,2232,348743
363,2020-12-31,US,United States of America,AMRO,208833,19581844,3356,352099

In [11]:
covid21_csv = "../Documents/WHO-US-Covid21.csv"
covid21_df = pd.read_csv(covid21_csv)
covid21_df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2021-01-01,US,United States of America,AMRO,237016,19818860,3747,355846
1,2021-01-02,US,United States of America,AMRO,229449,20048309,3755,359601
2,2021-01-03,US,United States of America,AMRO,227363,20275672,3036,362637
3,2021-01-04,US,United States of America,AMRO,226346,20502018,2355,364992
4,2021-01-05,US,United States of America,AMRO,204222,20706240,2045,367037
...,...,...,...,...,...,...,...,...
360,2021-12-27,US,United States of America,AMRO,115799,52004969,262,812905
361,2021-12-28,US,United States of America,AMRO,211290,52216259,266,813171
362,2021-12-29,US,United States of America,AMRO,463327,52679586,1948,815119
363,2021-12-30,US,United States of America,AMRO,394170,53073756,2182,817301
364,2021-12-31,US,United States of America,AMRO,475674,53549430,1810,819111

In [17]:
covid21_df = covid21_df.rename(columns = {"Date_reported" : "Time"})
covid21_df

,Time,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2021-01-01,US,United States of America,AMRO,237016,19818860,3747,355846
1,2021-01-02,US,United States of America,AMRO,229449,20048309,3755,359601
2,2021-01-03,US,United States of America,AMRO,227363,20275672,3036,362637
3,2021-01-04,US,United States of America,AMRO,226346,20502018,2355,364992
4,2021-01-05,US,United States of America,AMRO,204222,20706240,2045,367037
...,...,...,...,...,...,...,...,...
360,2021-12-27,US,United States of America,AMRO,115799,52004969,262,812905
361,2021-12-28,US,United States of America,AMRO,211290,52216259,266,813171
362,2021-12-29,US,United States of America,AMRO,463327,52679586,1948,815119
363,2021-12-30,US,United States of America,AMRO,394170,53073756,2182,817301
364,2021-12-31,US,United States of America,AMRO,475674,53549430,1810,819111

In [12]:
covid22_csv = "../Documents/WHO-US-Covid22.csv"
covid22_df = pd.read_csv(covid22_csv)
covid22_df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2022-01-01,US,United States of America,AMRO,588751,54138181,1332,820443
1,2022-01-02,US,United States of America,AMRO,469050,54607231,1335,821778
2,2022-01-03,US,United States of America,AMRO,302946,54910177,429,822207
3,2022-01-04,US,United States of America,AMRO,390862,55301039,374,822581
4,2022-01-05,US,United States of America,AMRO,903105,56204144,1664,824245
...,...,...,...,...,...,...,...,...
239,2022-08-28,US,United States of America,AMRO,103175,92943142,579,1033188
240,2022-08-29,US,United States of America,AMRO,10548,92953690,19,1033207
241,2022-08-30,US,United States of America,AMRO,14927,92968617,30,1033237
242,2022-08-31,US,United States of America,AMRO,91651,93060268,230,1033467
243,2022-09-01,US,United States of America,AMRO,156554,93216822,1252,1034719

In [18]:
covid22_df = covid22_df.rename(columns = {"Date_reported" : "Time"})
covid22_df

,Time,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2022-01-01,US,United States of America,AMRO,588751,54138181,1332,820443
1,2022-01-02,US,United States of America,AMRO,469050,54607231,1335,821778
2,2022-01-03,US,United States of America,AMRO,302946,54910177,429,822207
3,2022-01-04,US,United States of America,AMRO,390862,55301039,374,822581
4,2022-01-05,US,United States of America,AMRO,903105,56204144,1664,824245
...,...,...,...,...,...,...,...,...
239,2022-08-28,US,United States of America,AMRO,103175,92943142,579,1033188
240,2022-08-29,US,United States of America,AMRO,10548,92953690,19,1033207
241,2022-08-30,US,United States of America,AMRO,14927,92968617,30,1033237
242,2022-08-31,US,United States of America,AMRO,91651,93060268,230,1033467
243,2022-09-01,US,United States of America,AMRO,156554,93216822,1252,1034719

In [51]:
time = []

for index, row in covid_df.iterrows():
    time.append(['Time'])

In [19]:
def stock_df_day(stock_name, beg_year, end_year):
    df_name = pd.DataFrame(finnhub_client.stock_candles(stock_name, 'D', beg_year, end_year))
    df_name = df_name.drop(['s'], axis=1)
    rename = {'c':'Close','h': 'High', 'l': 'Low', 'o': 'Open', 't': 'Time', 'v': 'Volume'}
    df_name.rename(columns=rename, inplace=True)
    df_name['Time'] = [datetime.utcfromtimestamp(x).strftime('%Y-%m-%d') for x in df_name['Time']]
    return df_name

In [55]:
apple = stock_df_day('AAPL', beg_2020,end_2020)
apple

          Close        High         Low        Open        Time  Volume
0    123.282900  123.492000  122.631000  123.000000  2020-01-01      73
1    123.368170  124.047714  123.182840  123.553500  2020-01-02      81
2    123.121433  123.799619  122.936474  123.306393  2020-01-03      89
3    123.342818  123.552019  122.690601  123.059780  2020-01-04      92
4    123.897860  124.108003  123.242709  123.613549  2020-01-05      56
..          ...         ...         ...         ...         ...     ...
361  185.683601  186.706395  185.404657  185.962545  2020-12-27      49
362  185.312234  186.332982  185.033848  185.590620  2020-12-28      32
363  184.941609  185.960316  184.663780  185.219438  2020-12-29      81
364  184.571726  185.588396  184.294453  184.849000  2020-12-30      69
365  184.903604  185.217219  183.925864  184.479302  2020-12-31      52

[366 rows x 6 columns]

In [57]:
time = []

for index, row in apple.iterrows():
    time.append(row['Time'])

In [58]:
time

['2020-01-01',
 '2020-01-02',
 '2020-01-03',
 '2020-01-04',
 '2020-01-05',
 '2020-01-06',
 '2020-01-07',
 '2020-01-08',
 '2020-01-09',
 '2020-01-10',
 '2020-01-11',
 '2020-01-12',
 '2020-01-13',
 '2020-01-14',
 '2020-01-15',
 '2020-01-16',
 '2020-01-17',
 '2020-01-18',
 '2020-01-19',
 '2020-01-20',
 '2020-01-21',
 '2020-01-22',
 '2020-01-23',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-27',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-01',
 '2020-02-02',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-08',
 '2020-02-09',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-15',
 '2020-02-16',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-22',
 '2020-02-23',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-01',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-07',
 '2020-03-08',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-25',
 '2020-04-26',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-03',
 '2020-05-04',
 '2020-05-05',
 '2020-05-06',
 '2020-05-07',
 '2020-05-08',
 '2020-05-09',
 '2020-05-10',
 '2020-05-11',
 '2020-05-12',
 '2020-05-13',
 '2020-05-14',
 '2020-05-15',
 '2020-05-16',
 '2020-05-17',
 '2020-05-18',
 '2020-05-19',
 '2020-05-20',
 '2020-05-21',
 '2020-05-22',
 '2020-05-23',
 '2020-05-24',
 '2020-05-25',
 '2020-05-26',
 '2020-05-27',
 '2020-05-28',
 '2020-05-29',
 '2020-05-30',
 '2020-05-31',
 '2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-06',
 '2020-06-07',
 '2020-06-08',
 '2020-06-09',
 '2020-06-10',
 '2020-06-11',
 '2020-06-12',
 '2020-06-13',
 '2020-06-14',
 '2020-06-15',
 '2020-06-16',
 '2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-20',
 '2020-06-21',
 '2020-06-22',
 '2020-06-23',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-27',
 '2020-06-28',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-03',
 '2020-07-04',
 '2020-07-05',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-11',
 '2020-07-12',
 '2020-07-13',
 '2020-07-14',
 '2020-07-15',
 '2020-07-16',
 '2020-07-17',
 '2020-07-18',
 '2020-07-19',
 '2020-07-20',
 '2020-07-21',
 '2020-07-22',
 '2020-07-23',
 '2020-07-24',
 '2020-07-25',
 '2020-07-26',
 '2020-07-27',
 '2020-07-28',
 '2020-07-29',
 '2020-07-30',
 '2020-07-31',
 '2020-08-01',
 '2020-08-02',
 '2020-08-03',
 '2020-08-04',
 '2020-08-05',
 '2020-08-06',
 '2020-08-07',
 '2020-08-08',
 '2020-08-09',
 '2020-08-10',
 '2020-08-11',
 '2020-08-12',
 '2020-08-13',
 '2020-08-14',
 '2020-08-15',
 '2020-08-16',
 '2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-20',
 '2020-08-21',
 '2020-08-22',
 '2020-08-23',
 '2020-08-24',
 '2020-08-25',
 '2020-08-26',
 '2020-08-27',
 '2020-08-28',
 '2020-08-29',
 '2020-08-30',
 '2020-08-31',
 '2020-09-01',
 '2020-09-02',
 '2020-09-03',
 '2020-09-04',
 '2020-09-05',
 '2020-09-06',
 '2020-09-07',
 '2020-09-08',
 '2020-09-09',
 '2020-09-10',
 '2020-09-11',
 '2020-09-12',
 '2020-09-13',
 '2020-09-14',
 '2020-09-15',
 '2020-09-16',
 '2020-09-17',
 '2020-09-18',
 '2020-09-19',
 '2020-09-20',
 '2020-09-21',
 '2020-09-22',
 '2020-09-23',
 '2020-09-24',
 '2020-09-25',
 '2020-09-26',
 '2020-09-27',
 '2020-09-28',
 '2020-09-29',
 '2020-09-30',
 '2020-10-01',
 '2020-10-02',
 '2020-10-03',
 '2020-10-04',
 '2020-10-05',
 '2020-10-06',
 '2020-10-07',
 '2020-10-08',
 '2020-10-09',
 '2020-10-10',
 '2020-10-11',
 '2020-10-12',
 '2020-10-13',
 '2020-10-14',
 '2020-10-15',
 '2020-10-16',
 '2020-10-17',
 '2020-10-18',
 '2020-10-19',
 '2020-10-20',
 '2020-10-21',
 '2020-10-22',
 '2020-10-23',
 '2020-10-24',
 '2020-10-25',
 '2020-10-26',
 '2020-10-27',
 '2020-10-28',
 '2020-10-29',
 '2020-10-30',
 '2020-10-31',
 '2020-11-01',
 '2020-11-02',
 '2020-11-03',
 '2020-11-04',
 '2020-11-05',
 '2020-11-06',
 '2020-11-07',
 '2020-11-08',
 '2020-11-09',
 '2020-11-10',
 '2020-11-11',
 '2020-11-12',
 '2020-11-13',
 '2020-11-14',
 '2020-11-15',
 '2020-11-16',
 '2020-11-17',
 '2020-11-18',
 '2020-11-19',
 '2020-11-20',
 '2020-11-21',
 '2020-11-22',
 '2020-11-23',
 '2020-11-24',
 '2020-11-25',
 '2020-11-26',
 '2020-11-27',
 '2020-11-28',
 '2020-11-29',
 '2020-11-30',
 '2020-12-01',
 '2020-12-02',
 '2020-12-03',
 '2020-12-04',
 '2020-12-05',
 '2020-12-06',
 '2020-12-07',
 '2020-12-08',
 '2020-12-09',
 '2020-12-10',
 '2020-12-11',
 '2020-12-12',
 '2020-12-13',
 '2020-12-14',
 '2020-12-15',
 '2020-12-16',
 '2020-12-17',
 '2020-12-18',
 '2020-12-19',
 '2020-12-20',
 '2020-12-21',
 '2020-12-22',
 '2020-12-23',
 '2020-12-24',
 '2020-12-25',
 '2020-12-26',
 '2020-12-27',
 '2020-12-28',
 '2020-12-29',
 '2020-12-30',
 '2020-12-31']

In [20]:
#def function to create a dataframe for each stock
def stock_df(stock_name, beg_year, end_year):
    df_name = pd.DataFrame(finnhub_client.stock_candles(stock_name, 'W', beg_year, end_year)) 
    df_name = df_name.drop(['s'], axis=1)
    rename = {'c':'Close','h': 'High', 'l': 'Low', 'o': 'Open', 't': 'Time', 'v': 'Volume'}
    df_name.rename(columns=rename, inplace=True)
    df_name['Time'] = [datetime.utcfromtimestamp(x).strftime('%Y-%m-%d') for x in df_name['Time']]
    return df_name

In [21]:
stock_df

In [36]:
microsoft2020 = stock_df('MSFT', beg_2020, end_2020)
stock_date2020 = microsoft2020.set_index('Time')
stock_date2020.head()

                 Close        High         Low        Open  Volume
Time
2019-12-26  122.815500  123.492000  122.631000  123.000000      21
2020-01-02  122.569869  123.245016  122.385738  122.754000      33
2020-01-09  122.790262  122.998526  122.140967  122.508492      64
2020-01-16  123.342818  123.552019  122.690601  123.059780      19
2020-01-23  123.428129  124.108003  123.242709  123.613549      78